*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Cormorant Garamond',serif;
background:url('background.jpg') center center/cover fixed;
color:#4d3b2d;
}

#cover{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.cover-content h1{
font-family:'Great Vibes',cursive;
font-size:80px;
color:#b89045;
}

.small{
letter-spacing:4px;
margin-bottom:10px;
}

.date{
margin:15px 0;
}

button{
padding:14px 30px;
border:none;
border-radius:30px;
background:#b89045;
color:#fff;
cursor:pointer;
}

#main{
display:none;
}

.hero,
.countdown-section,
footer{
text-align:center;
padding:80px 20px;
}

.couple{
display:flex;
justify-content:center;
align-items:center;
gap:60px;
padding:80px 20px;
text-align:center;
flex-wrap:wrap;
}

.name{
font-family:'Great Vibes',cursive;
font-size:60px;
color:#b89045;
}

.and{
font-size:70px;
color:#b89045;
}

#countdown{
font-size:32px;
font-weight:bold;
}

.events,
.gift{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
padding:20px;
}

.card{
background:rgba(255,255,255,.85);
padding:25px;
border-radius:20px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
max-width:1000px;
margin:auto;
padding:20px;
}

.gallery img{
width:100%;
border-radius:20px;
display:block;
}

.gift img{
max-width:250px;
width:100%;
}

.footer-name{
font-family:'Great Vibes',cursive;
font-size:70px;
color:#b89045;
}

.petals{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
z-index:999;
}

.petal{
position:absolute;
width:18px;
height:24px;
background:#f7e7dc;
border-radius:70% 0 70% 0;
animation:fall linear forwards;
}

@keyframes fall{
0%{
transform:translateY(-40px) rotate(0deg);
}
100%{
transform:translateY(110vh) rotate(360deg);
}
}

@media(max-width:768px){

.cover-content h1{
font-size:55px;
}

.name{
font-size:42px;
}

}
